* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding: 1rem;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 1rem;
}

.recipe {
  display: flex;
  flex-direction: column;
  gap: 1ch;

  padding: 1rem;
  border: 2px solid black;
}

.recipe figure {
  text-align: center;
}

img {
  max-width: 100%;
  object-fit: contain;
}
